.holder {margin: 15px 0;}
.holder a {font-size: 12px; cursor: pointer; margin: 0 5px;	color: #333;}
.holder a:hover {background-color: #222; color: #fff;}
.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next { margin-left: 15px; }
.holder a.jp-current, a.jp-current:hover {color: #FF4242; font-weight: bold;}
.holder a.jp-disabled, a.jp-disabled:hover {color: #bbb;}
.holder a.jp-current, a.jp-current:hover, .holder a.jp-disabled, a.jp-disabled:hover {cursor: default; background: none;}
.holder span { margin: 0 5px; }
/*******************************************/
.pagination { display:inherit; margin:0;}
.pagination > a { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; cursor: pointer; color: #777; line-height: 1.42857; margin-left: -1px; margin-right: 5px; padding: 10px 12px; position: relative; text-decoration: none;}
.pagination > a{background-color: #223266; color: #fff;}
.pagination > span { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; cursor: default; color: #777; line-height: 1.42857; margin-left: -1px; margin-right: 5px; padding: 5px; position: relative; text-decoration: none;}
.pagination a.jp-previous { margin-left:0; border-bottom-left-radius:4px; border-top-left-radius:4px}
.pagination a.jp-next { border-bottom-right-radius:4px; border-top-right-radius:4px }
.pagination > a:hover,.pagination > a:focus{ color:#23527c; background-color:#eee; border-color:#ddd}
.pagination a:hover{background:#edab3a;color:#fff;font-weight:400;text-decoration:none}
.pagination a.jp-current, a.jp-current:hover { z-index:2;color:#fff;background: #edab3a none repeat scroll 0 0;border-color:#337ab7;cursor:default;}
.pagination a.jp-current:hover { background-color:#337ab7;}
.pagination a.jp-disabled, .pagination a.jp-disabled:hover { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; color:#777;}