<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/Practicas</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>WIN-TJM843CL7VJ</MSDeployServiceURL>
    <DeployIisAppPath>Practicas</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>false</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>administrador</UserName>
    <_SavePWD>true</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="SpainBS_Connection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="campus_sbs_admin.Models.SpainBS_Connection, campus_sbs_admin" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SpainBS_CampusEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=10.10.100.204;Initial Catalog=PrePro_SpainBS_Campus;Persist Security Info=True;User ID=sa;Password=Openit2020@;MultipleActiveResultSets=True;TrustServerCertificate=True;Application Name=EntityFramework" Name="Data Source=10.10.100.204;Initial Catalog=PrePro_SpainBS_Campus;Persist Security Info=True;User ID=sa;Password=Openit2020@;Multiple Active Result Sets=True;Trust Server Certificate=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.100.204;Initial Catalog=PrePro_SpainBS_Campus;User ID=sa;Password=Openit2020@;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SpainBS_CampusEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SpainBS_Model.csdl|res://*/SpainBS_Model.ssdl|res://*/SpainBS_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.100.204;initial catalog=PrePro_SpainBS_Campus;user id=sa;password=Openit2020@;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SpainBS_Blog_Entities" Order="3" Enabled="False">
          <Destination Path="Data Source=DESAW7\SQL2008R2;Initial Catalog=SpainBS_Blog;User ID=sa;Password=openit;MultipleActiveResultSets=True;Application Name=EntityFramework" Name="Data Source=DESAW7\SQL2008R2;Initial Catalog=SpainBS_Blog;User ID=sa;Password=openit;Multiple Active Result Sets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESAW7\SQL2008R2;Initial Catalog=SpainBS_Blog;User ID=sa;Password=openit;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SpainBS_Blog_Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SBS_Blog_Model.csdl|res://*/SBS_Blog_Model.ssdl|res://*/SBS_Blog_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESAW7\SQL2008R2;initial catalog=SpainBS_Blog;user id=sa;password=openit;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SpainBSCampus" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=dev001;Initial Catalog=PrePro_SpainBS_Campus;User Id=sa;Password=Openit2020@;App=EntityFramework&quot;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SpainBSCampus_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DATA SOURCE=dev001;Initial Catalog=PrePro_SpainBS_Campus;User Id=sa;Password=Openit2020@;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SpainBSCampus-Web.config Connection String" />
    <MSDeployParameterValue Include="SpainBS_CampusEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/SpainBS_Model.csdl|res://*/SpainBS_Model.ssdl|res://*/SpainBS_Model.msl;provider=System.Data.SqlClient;provider connection string="data source=10.10.100.204;initial catalog=PrePro_SpainBS_Campus;persist security info=True;user id=sa;password=Openit2020@;multiple active result sets=True;trust server certificate=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SpainBS_Blog_Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/SBS_Blog_Model.csdl|res://*/SBS_Blog_Model.ssdl|res://*/SBS_Blog_Model.msl;provider=System.Data.SqlClient;provider connection string="data source=DESAW7\SQL2008R2;initial catalog=SpainBS_Blog;user id=sa;password=openit;multiple active result sets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SpainBS_Connection-Web.config Connection String" />
  </ItemGroup>
</Project>